.button {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background: var(--buttonBackground);
    color: var(--buttonText);
    border: 1px solid var(--buttonBorder);
}

.buttonS {
    padding: .175rem 0.5rem;
    font-size: 0.75rem;
}