.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--inputBorder);
    position: relative;
    display: inline-block;
    align-self: center;
    margin: 0;
}

.checkbox::after {
    position: absolute;
    transform: rotate(-45deg);
    content: '';
    width: 10px;
    height: 5px;
    top: 3px;
    left: 3px;
    border-left: 3px solid var(--inputText);
    border-bottom: 3px solid var(--inputText);
    display: none;
}

.checkbox:checked::after {
    display: block;
}
