.Input {
    padding: .375rem .75rem;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    border-radius: .25rem;
    background: var(--inputBackground);
    color: var(--inputText);
    border: 1px solid var(--inputBorder);
    outline: none;
}